body {
    html {
        scroll-behavior: smooth;
      }
   
div.header {


    width: 100%;
    position: sticky;
    
}
 
 div.text{
    height: 100px;
    width: 400px;
    position: absolute;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-align: center;
    
    
}

 div.nav {

   

    width: 100%;
    height: 125px;
    background-color: #81d29f;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content : space-between ;
}
        
        img.logo {
            
            width: 100px;
            height: 120px;
     }
    }
    
ul.first{
    margin-left: 20px;
}
    ul{
      
        display: flex;
        font-size: 25px;
        font-weight: 600;
        width: 300px;

        a {
            color: #c75252;
        }
      
        
       

        li{
            margin-right: 15px;
            color: #c75252;
            :hover{
                color: green;
                font-size: 25px;
            }
            
            
     
          
           
            }
           
           
            
        }



        div.button{
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            
            
        button{
            border:none;
            outline:none;
            height: 100px;
            width: 300px;
            font-size: 30px;
            background-color:rgb(61, 142, 212);
            cursor: pointer;
            
        }
        }
   

        

    

    
    

    
